{% extends 'blog/base.html' %}


{% block content %}
  <div class="jumbotron">

    <h2>Admin Login: </h2>
    <h3>(This page in only for admin. Must be SuperUser, please contact admin for any issues.)</h3>
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class='btn btn-primary' value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
      <br>
      <p>contact for admin:kenichiderumo@gmail.com</p>
  </div>
{% endblock %}
