{% extends "blog/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>About UVic Rate My Course.com</h1>
        <p>Thank you for visiting our service.
        <br>This web service, UVic Rate My Course.com
        is for UVic students to rate their course taken at UVic and share their information so that other UVic students can expect should they take this course or not. This web service might help for high school students thinking whether they should apply to UVic and whichi major they should choose.
        It would be very appreciated if you could share this service within your friends via Twitter, Facebook, whichever platform they use.
        </p>

    </div>
{% endblock %}